<%- include("partials/header.ejs") %>
  
<div class="container-fluid position-absolute top-50 start-50 translate-middle text-center">

  <div class="home-msg">
    <i class="fa-solid fa-key mb-3 secret-home-icon"></i>
    <h1>Secrets</h1>
    <p>Share your secrets anonymously!</p>
  </div>
  
  <div class="register-login mt-5">
    <a class="btn btn-lg btn-light register__btn" type="button" href="/register">register</a>
    <a class="btn btn-lg btn-dark purple__btn ms-5" type="button" href="/login">login</a>
  </div>

</div>


<%- include("partials/footer.ejs") %>
