<%- include("partials/header.ejs") %>

<div class="row page_container position-absolute top-50 translate-middle-y w-100 mx-0">
  
  <div class="col-md-8">
    <form action="/auth/register" method="post" class="">
      <h3 class="mb-4">Register</h3>
      <div class="mb-3">
        <label for="register-email" class="form-label">Email address</label>
        <input type="email" name="username" class="form-control" id="register-email" aria-describedby="emailHelp" required>
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="register-password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="register-password" required minlength="6">
        <div id="emailHelp" class="form-text">Password must be at least 6 characters long.</div>
      </div>
      <button type="submit" class="btn purple__btn">Submit</button>
    </form>
  </div>

  <div class="col-md-4 mt-5 mt-md-0">
    <h3 class="fs-6 mb-3 ">Or Register with an existant social account.</h3>
    <div class="mb-3">
      <a href="/auth/google" class="btn btn-block btn-social btn-google w-100" role="button">
        <i class="fab fa-google"></i>
        <span>Register with Google</span>
      </a>
    </div>
    <div>
      <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook w-100" role="button">
        <i class="fab fa-facebook"></i>
        <span>Register with Facebook</span>
      </a>
    </div>
  </div>


</div>


<%- include("partials/footer.ejs") %>